<%
navArray = [ 
    {
        name: "Top",
        slug: "top",
        url: "#top"
    },
    {
        name: "Feature",
        slug: "feature",
        url: "#feature"
    },
    {
        name: "Service",
        slug: "service",
        url: "#service"
    },
    {
        name: "News",
        slug: "news",
        url: "#news"
    }
];

parallaxTitle = "Catch copy text catch copy !! Catch copy text!";
parallaxDescription = "sample text sample text sample text sample text sample text sample text sample text sample sample text sample text sample text "

featureArray = [
    {
        img: {
            src: "images/brand-html5.png",
            width: 174,
            height: 190,
            alt: ""
        },
        heading: "HTML5",
        description: "sample text sample text sample text sample text sample text"
    }, {
        img: {
            src: "images/brand-css3.png",
            width: 174,
            height: 190,
            alt: ""
        },
        heading: "CSS3",
        description: "sample text sample text sample text sample text sample text"
    }, {
        img: {
            src: "images/brand-js.png",
            width: 174,
            height: 190,
            alt: ""
        },
        heading: "Javascript",
        description: "sample text sample text sample text sample text sample text"
    }
];

newsHeading = 'News';

newsArray = [
    {
        date: "06.18",
        title: "News title",
        description: "sample text sample text sample text sample text sample text sample text ...",
        url: "#"
    }, {
        date: "06.17",
        title: "News title",
        description: "sample text sample text sample text sample text sample text sample text ...",
        url: "#"
    }, {
        date: "06.16",
        title: "News title",
        description: "sample text sample text sample text sample text sample text sample text ...",
        url: "#"
    }
];

serviceHeading = "Service";
serviceImage = "images/img-graph.png";

serviceTitle = "2016 our results";
serviceDescription = "sample text sample text sample text sample text  sample text sample text sample text sample  sample text sample text sample text ";



brandArray = [
    {
        img: {
            src: "images/brand-ibm.png",
            width: 161,
            height: 56,
            alt: "IBM"
        }
    }, {
        img: {
            src: "images/brand-microsoft.png",
            width: 268,
            height: 56,
            alt: "Microsoft"
        }
    }, {
        img: {
            src: "images/brand-twitter.png",
            width: 259,
            height: 56,
            alt: "Twitter"
        }
    }, {
        img: {
            src: "images/brand-facebook.png",
            width: 221,
            height: 56, 
            alt: "Facebook"
        }
    }
];

socialArray = [
    {
        name: "facebook",
        url: "#"
    }, {
        name: "twitter",
        url: "#"
    }, {
        name: "google",
        url: "#"
    }
];

%>