<% include const/_const %>
<%
var id = "index";
var title = "";
var description = "sample text,sample text";
var keywords = "word1,word2,word3";
var type = "blog";
%>
<% include metadata/_head %>
<% include module/_hero %>
<% include layout/_l-header %>

<% include module/_parallax %>  
<% include module/_feature %>  
<% include module/_service %>  
<% include module/_news %>  
<% include module/_brand %>  
<% include module/_form %>  

<% include layout/_l-footer %>
<% include metadata/_script %>