/*
l-footer
*/

.l-footer {
    background-color: $color-default;
    color: #fff;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 10px;
    
    .l-footer-left {
        float: left;
    }

    .l-footer-right {
        float: right;
    }

    p {
        font-size: 14px;
        margin-bottom: 0;
    }
}