/*
l-header
*/

.l-header {
    position: relative;
    z-index: 9999;
    background-color: #fff; 

    
    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        
    }
	
	@media (min-width: $break-small) {
	    .l-header-left {
	        float: left;
	    }

	    .l-header-right {
	        float: right; 
	    }
    }

}