/*
#styleguide
icon

```
<i class="icon icon-facebook"></i>
<i class="icon icon-google"></i>
<i class="icon icon-twitter"></i>
```
*/

$icon-facebook: 70px 0px -70px 0px 26px 40px 96px 40px '../images/icon.png' icon-facebook;
$icon-google: 0px 0px 0px 0px 31px 40px 96px 40px '../images/icon.png' icon-google;
$icon-twitter: 37px 0px -37px 0px 27px 40px 96px 40px '../images/icon.png' icon-twitter;


$icon: ($icon-facebook,$icon-google,$icon-twitter,);
@each $sprite in $icon {
    $name: nth($sprite,10);
    .icon.#{$name} {
        @include sprite($sprite,1);
    }
}