/*
Utility

This means helper class like a snippet.
Utility should always have the prefix "u-".
And you should not feel free to add a new Utility class.
*/

//hide text
.u-hidden {
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
}

//clearfix
.u-clear {
    @include clearfix();
}

//Omit text on one line, and add "..."
.u-elps {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

//No tap highlight on a smart phone
.u-notap {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
