/*
* Variables except color
*/

// These variable are used in mixin
$default-scale: 1;
$gutter: 0;

// container
$base-container: 1082px;

// header
$header-height: 90px;

//break point
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;

//path
$path-image: "../images/";
$path-font: "../fonts/";

//font
$base-font-size: 16;
$base-line-height: 1.6;
$base-letter-spacing: 0.02em;

//animation
$duration: .25s;
$easing: ease-in-out;
$delay: .35s;

//etc
$site-size: 1080px + 60;
$z-max: 10;
$opacity: .8;