<div class="brand">
	<div class="l-container">
		<ul class="brand-list">
			<% for(var iBrand=0; iBrand< brandArray.length; iBrand++) { %>
			<li class="brand-item">
				<img src="<%= brandArray[iBrand].img.src %>" class="brand-img" width="<%= brandArray[iBrand].img.width %>" height="<%= brandArray[iBrand].img.height %>" alt="<%= brandArray[iBrand].img.alt %>">
			</li>
			<% } %>
		</ul>
	</div>
</div>