<!-- start feature -->
<section id="feature" class="feature">
    <div class="l-container">
		<% for(var iFeature=0; iFeature< featureArray.length; iFeature++) { %>
			<div class="feature-item">
			    <img src="<%= featureArray[iFeature].img.src %>" class="feature-img" width="<%= featureArray[iFeature].img.width %>" height="<%= featureArray[iFeature].img.height %>" alt="<%= featureArray[iFeature].img.alt %>">
			    <h4 class="feature-heading"> <%= featureArray[iFeature].heading %></h4>
			    <div class="feature-description">
			    	<p><%= featureArray[iFeature].description %></p>
			    </div>
			</div>
		<% } %>
	</div>
</section>
<!-- start feature -->