<!-- start form -->
<section id="form" class="form">
    <div class="l-container">
    	<div class="form-row">
	    	<div class="form-column">
	    		<div class="input-group">
	    			<input type="text" class="input" placeholder="Name">
	    		</div>
	    		<div class="input-group">
	    			<input type="text" class="input" placeholder="E-mail">
	    		</div>
	    		<div class="input-group input-group-select">
	    			<select name="" id="" class="input">
	    				<option value="" selected>Please select your topic</option>
	    				<option value="">Inquiry</option>
	    			</select>
	    		</div>
	    	</div>
			<div class="form-column">
				<div class="input-group input-group-textarea">
					<textarea name="" id="" cols="30" rows="10" placeholder="Comments" class="input"></textarea>
				</div>
				<input type="submit" class="button" value="Submit">
			</div>
		</div>
    </div>
</section>
<!-- end form -->