<!--start hero -->
<div class="hero">
	<div class="hero-container">
		<div class="hero-content">
			<h1 class="hero-heading">Hello world</h1>
			<p>- description text -</p>
		</div>
	</div>
</div>
<!--end hero -->