<!-- start news -->
<section id="news" class="news">
    <div class="l-container">
		<h4 class="news-heading">- <%= newsHeading %> -</h4>

		<ul class="news-list">
			<% for(var iNews=0; iNews< newsArray.length; iNews++) { %>
			<li class="news-item">
				<article class="news-article">
					<small class="metadata"><%= newsArray[iNews].date %></small>
					<div class="heading">
						<a href="<%= newsArray[iNews].url %>" class="title"><%= newsArray[iNews].title %></a>
					</div>
					<div class="description">
						<p><a href="<%= newsArray[iNews].url %>"><%= newsArray[iNews].description %></a></p>
					</div>
				</article>
			</li>
			<% } %>
		</ul>
	</div>
</section>
<!-- end news -->