<div id="top" class="parallax">
	 <div class="parallax-container l-container">
	 	<div class="parallax-row">
	 		<div class="parallax-column">
	 			<div class="parallax-content">
	 				<h4><%= parallaxTitle %></h4>
	 				<p><%= parallaxDescription %></p>
	 			</div>
	 		</div>
	 		<div class="parallax-column">
	 			<div class="parallax-phones">
		 			<i class="phone phone-1"></i>
					<i class="phone phone-2"></i>
					<i class="phone phone-3"></i>
				</div>
	 		</div>
	 	</div>
	 </div>
</div>