<!-- start service -->
<section id="service" class="service">
    <div class="l-container">
		<h4 class="service-heading">- <%= serviceHeading %> -</h4>
		
		<div class="service-row">
		    <div class="service-column">
		        <img src="<%= serviceImage %>" alt="">
		    </div>
		    <div class="service-column service-align-right">
		        <div class="service-content">
		        <h4><%= serviceTitle %></h4>
		        <p><%= serviceDescription %></p>

		        </div>
		    </div>
	    </div>

	</div>
</section>
<!-- end service -->