<div class="social">
    <ul class="social-list">
    	<% for(var iSocial= 0; iSocial< socialArray.length; iSocial++) { %>
        <li class="social-item"><a href="<%= socialArray[iSocial].url %>"><i class="icon icon-<%= socialArray[iSocial].name %>"></i></a></li>
        <% } %>
    </ul>
</div>