@mixin retina {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
        @content;
    }
}

@mixin query($size) {
    @media all and (max-width: $size) {
        @content;
    }
}

//this id used in sprite smith(gulp task)
@mixin sprite-width($sprite, $scale: 1) {
    width: ceil(nth($sprite, 5) * $scale);
}

//this id used in sprite smith(gulp task)
@mixin sprite-height($sprite, $scale: 1) {
    height: ceil(nth($sprite, 6) * $scale);
}

//this id used in sprite smith(gulp task)
@mixin sprite-position($sprite, $scale: 1) {
    $sprite-offset-x: nth($sprite, 3) * $scale;
    $sprite-offset-y: nth($sprite, 4) * $scale;
    background-position: $sprite-offset-x $sprite-offset-y;
}

//this id used in sprite smith(gulp task)
@mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
    background-repeat: no-repeat;
}

//this id used in sprite smith(gulp task)
@mixin sprite-size($sprite, $scale: 0.5) {
    background-size: floor(nth($sprite, 7)*$scale) floor(nth($sprite, 8)*$scale);
}

//this id used in sprite smith(gulp task)
@mixin sprite($sprite, $scale: 0.5) {
    display: inline-block;
    overflow: hidden;
    text-indent: 120%;
    white-space: nowrap;
    @include sprite-image($sprite);
    @include sprite-position($sprite, $scale);
    @include sprite-width($sprite, $scale);
    @include sprite-height($sprite, $scale);
    @include sprite-size($sprite, $scale);
}

//Android hack for l-grid
@mixin androidWidth($width) {
    .android & {
        width: $width - 0.00001%;
    }
}

@mixin clearfix() {
    zoom: 1;
    &:before,
    &:after {
        content: "";
        display: block;
    }
    &:after {
        clear: both;
    }
}
