// Brand Logos
.brand {
    padding-top: 45px;
    padding-bottom: 45px;
    @include clearfix();
    @media (min-width: $break-small) {
        padding-top: 85px;
        padding-bottom: 85px;
    }
    .brand-container {
        width: $base-container;
        max-width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .brand-list {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        @media (min-width: $break-small) {
            display: flex;
            justify-content: space-between;
        }
        .brand-item {
            margin-bottom: 25px;
            @media (min-width: $break-small) {
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 0;
            }
        }
    }
}

