// feature
.feature {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: $color-gray;
    @include clearfix();
    @media (min-width: $break-small) {
        padding-top: 85px;
        padding-bottom: 85px;
    }
    
    .feature-item {
        text-align: center;
        margin-bottom: 25px;
        @media (min-width: $break-small) {
            float: left;
            width: 33.33%;
            margin-bottom: 0;
        }
        .feature-heading {
            $font-family: $font-en;
            font-weight: bold;
            font-size: 30px;
            margin-top: 25px;
        }
        .feature-description {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
