// Form
.form {
    padding-top: 45px;
    padding-bottom: 40px;
    background-color: $color-gray;
    @include clearfix();
    @media (min-width: $break-small) {
        padding-top: 85px;
        padding-bottom: 70px;
    }
   
    .form-heading {
        font-family: $font-base;
        font-size: 60px;
        color: $color-default;
        text-align: center;
        margin-bottom: 40px;
    }
    @media (min-width: $break-small) {
        .form-row {
            margin-left: -15px;
            margin-right: -15px;
            .form-column {
                width: 49%;
                display: inline-block;
                vertical-align: top;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .input-group {
        margin-bottom: 30px;
        &.input-group-select {
            position: relative;
            &:after {
                content: "";
                border-top: 8px solid $color-border;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                position: absolute;
                right: 21px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &.input-group-textarea {
            .input {
                height: 150px;
            }
        }
        &.input-group-last {
            margin-bottom: 0;
        }
        .input {
            border: 2px solid $color-border;
            background-color: $color-white;
            width: 100%;
            height: 60px;
            line-height: 60px;
            padding-left: 21px;
            padding-right: 21px;
            font-family: $font-en;
            font-size: 16px;
            letter-spacing: 2px;
            -webkit-appearance: none;

            @media (min-width: $break-small) {
                font-size: 20px;
            }
        }
        ::-webkit-input-placeholder {
            color: #dddddd;
        }
        ::-moz-placeholder {
            color: #dddddd;
        }
        :-ms-input-placeholder {
            color: #dddddd;
        }
        :-moz-placeholder {
            color: #dddddd;
        }
    }
    .button {
        background-color: $color-default;
        box-shadow: 4px 6px 0px 0px rgba($color-default, 0.25);
        width: 100%;
        height: 60px;
        color: $color-white;
        font-size: 20px;
        letter-spacing: 2px;
    }
}
