// Hero
.hero {
	height: 100%;
	background: url(../images/img-hero.jpg) no-repeat center center / cover;
	
	.hero-container {
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		display: table;
	}

	.hero-content {
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		.hero-heading {
			font-family: $font-base;
			font-size: 50px;
			color: $color-white;
			margin-top: 0;
			line-height: 80px;

			@media (min-width: $break-small) {
				font-size: 80px;
				margin-bottom: 45px;
			}

			@media (min-width: $break-medium) {
				font-size: 160px;
			}
		}
 
		p {
			font-family: $font-base;
			font-size: 30px;
			font-weight: 300;
			color: $color-white;

			@media (min-width: $break-small) {
				font-size: 50px;
			}

			@media (min-width: $break-medium) {
				font-size: 60px;
			}
		}
	}
	
}