// Logo

.logo {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
    
    @media (min-width: $break-small) {
    	line-height: $header-height;
		display: inline-block;
		padding-top: 0;
		padding-bottom: 0;
    }

    > img {
    	vertical-align: middle;
		width: 60px;
		height: auto;

    	@media (min-width: $break-small) {
	    	width: 118px;
	    }
    }
}