// Nav
.nav {
    @media (min-width: $break-small) {
        line-height: $header-height;
    }
    .nav-list {
        padding: 0;
        list-style: none;
        text-align: center;

        @media (min-width: $break-small) {
                text-align: right;
        }
    }
    .nav-item {
        display: inline-block;
        margin-right: 10px;

        @media (min-width: $break-small) {
            margin-right: 40px;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .nav-link {
        display: inline-block;
        text-align: center;
        color: $color-default;
        line-height: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        transition: all 0.3s ease-in-out;
        @media (min-width: $break-small) {
            display: block;
        }
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 0%;
            height: 2px;
            background-color: $color-default;
            transition: all 0.3s ease-in-out;
        }
        &.nav-link-current,
        &:hover {
            text-decoration: none;
            color: #9d9693;
        }
        &.nav-link-current:after,
        &:hover:after {
            width: 100%;
        }
    }
}
