// News
.news {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: $color-gray;
    @include clearfix();
    @media (min-width: $break-small) {
        padding-top: 85px;
        padding-bottom: 85px;
    }
   
    .news-heading {
        font-family: $font-base;
        font-size: 60px;
        font-weight: bold;
        color: $color-default;
        text-align: center;
        margin-bottom: 40px;
        line-height: 60px;
    }
    .news-list {
        list-style: none;
        margin: 0;
        padding: 0;
        .news-item {
            border-bottom: 1px solid $color-border;
            margin-bottom: 15px;
            padding-bottom: 15px;
        }
    }
    .news-article {
        &.is-active,
        &:hover {
            .heading > .title,
            .description {
                border-bottom-color: $color-default;
                cursor: pointer;
            }
        }
        a {
            text-decoration: none !important;
        }
        .metadata {
            font-size: 19px;
            display: block;
        }
        .heading {
            display: inline-block;
            vertical-align: middle;
            width: 200px;
        }
        .heading > .title {
            font-family: $font-en;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 1px;
            color: $color-default;
            display: inline-block;
            border-bottom: 1px solid transparent;
        }
        .description {
            display: inline-block;
            vertical-align: middle;
            border-bottom: 1px solid transparent;
        }
        .description > p {
            font-size: 19px;
        }
    }
}
