.parallax {
	
    padding-top: 45px;
    padding-bottom: 45px;
    background: #97918e;
    background: linear-gradient(to bottom, #97918e 0%, #c3bbb8 100%);
    @include clearfix();

    @media (min-width: $break-small) {
    	
    	& {
    		display: table;
			width: 100%;
			height: 798px;
	        padding-top: 85px;
	        padding-bottom: 85px;
	    }

        .parallax-row {
            margin-left: -15px;
            margin-right: -15px;
            .parallax-column {
                padding-left: 15px;
                padding-right: 15px;
                display: inline-block;
                vertical-align: top;
                width: 48%;
                position: relative;
            }
        }
    }

    .parallax-container {
    	display: table-cell;
    	vertical-align: middle;
    }

    .parallax-content {
        margin-top: 25px;

        @media (min-width: $break-small) {
            margin-top: 0;
        }

        h4 {
            font-family: $font-base;
            font-size: 30px;
            margin-bottom: 30px;
            color: $color-white;

            @media (min-width: $break-small) {
                font-size: 40px;
                margin-bottom: 90px;
            }
        }

        p {
            font-size: 16px;
            color: $color-white;

            @media (min-width: $break-small) {
                font-size: 20px;
            }
        }
    }

    .parallax-phones {
    	position: relative;
        display: none;

        @media (min-width: $break-small) {
            display: block;
        }
    }

    .phone {
    	position: absolute;
    	top: 0;

    	&-1 { z-index: 3; }
    	&-2 { 
    		z-index: 2; 
    		top: 97px;
    		right: 0;
    	}
    	&-3 { 
    		z-index: 1; 
    		top: -185px;
    		left: 180px;
    		margin: auto;
    	}
    }
}
