// Service
.service {
    padding-top: 45px;
    padding-bottom: 45px;
    @include clearfix();
    @media (min-width: $break-small) {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    .service-heading {
        font-family: $font-base;
        font-size: 60px;
        font-weight: bold;
        color: $color-default;
        text-align: center;
        margin-bottom: 40px;
        line-height: 60px;
    }
    @media (min-width: $break-small) {
        .service-row {
            margin-left: -15px;
            margin-right: -15px;
            .service-column {
                padding-left: 15px;
                padding-right: 15px;
                display: inline-block;
                vertical-align: middle;
                width: 49%;
            }
        }
    }
    .service-align-left {
        text-align: left;
    }
    @media (min-width: $break-small) {
        .service-align-right {
            text-align: right;
        }
    }
    .service-content {
        margin-top: 25px;
        @media (min-width: $break-small) {
            margin-top: 0;
        }
        h4 {
            font-family: $font-en;
            font-size: 30px;
            font-weight: bold;
        }
        p {
            font-size: 20px;
        }
    }
}
