    <!--footer ここから-->
    <footer class="l-footer">
         
        <div class="l-container u-clear">
            <div class="l-footer-left">
                <p>&copy;2016 Sample</p>
            </div>
            <div class="l-footer-right">
                <% include ../module/_social %>  
            </div>
        </div>
    </footer> 
    <!--footer ここまで-->