<!--start header-->
<header class="l-header l-header-mb">
    <div class="l-container u-clear">

        <div class="l-header-left">
            <a class="logo" href="./">
                <img src="images/brand-logo.png" width="118" height="32" alt="Logo"/>
            </a>
        </div>


        <div class="l-header-right">
            <nav class="nav">
                <ul class="nav-list nav-list-right">
                    <% for(var iNav=0; iNav< navArray.length; iNav++) { %>
                    <li class="nav-item">
                        <a class="nav-link no-link js-scroll js-<%= navArray[iNav].slug %>" href="<%= navArray[iNav].url %>">
                            <%= navArray[iNav].name %>
                        </a>
                    </li>
                    <% } %>
                </ul> 
            </nav>
        </div>
    </div>
</header>
<!--end header-->
